<h5>Bus Details</h5>
<button (click)="addBus()" class="primary">Add bus Details</button>
<div *ngFor="let data of busDetails" style="border: 1px solid red;">
  <div>
    <label>Bus Number</label>
    {{ data.busNumber }}
  </div>
  <div>
    <label>Pickup Location</label>
    {{ data.pickup }}
  </div>
  <div>
    <label>Destination Location</label>
    {{ data.destination }}
  </div>
  <div>
    <label>Bus Details</label>
    {{ data.busDetails }}
  </div>
  <div>
    <label>Price</label>
    {{ data.price }}
  </div>
</div>
